<!DOCTYPE html>
<html ng-app="aliengoo.sample">
<head lang="en">
  <meta charset="UTF-8">
  <title>ng-insight sample</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../dist/css/aliengoo.ng-insight.css"/>
</head>
<body ng-controller="App as vm">

<div class="container">
  <header class="page-header">
    <h1>aliengoo.ng-insight sample</h1>
  </header>


  <form novalidate name="appForm" ng-auto-message-insight ng-model-insight="{{vm.showInsight}}" ng-scope-insight="{{vm.showInsight}}">

    <div class="col-md-6">

      <button class="btn btn-primary" ng-click="vm.toggle()" ng-show="vm.showInsight">Hide insight</button>
      <button class="btn btn-primary" ng-click="vm.toggle()" ng-hide="vm.showInsight">Show insight</button>

      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" ng-model="vm.person.firstName" class="form-control" required id="firstName" name="firstName"
               minlength="5" maxlength="50"/>
      </div>



      <div class="form-group" ng-if="vm.showMiddleNames">
        <label for="middleNames">Middle names</label>
        <input type="text" ng-model="vm.person.middleNames" class="form-control" required id="middleNames" name="middleNames"
               minlength="5" maxlength="50"/>
      </div>

      <button class="btn btn-primary" ng-click="vm.showMiddleNames = !vm.showMiddleNames">Button state</button>

      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" ng-model="vm.person.lastName" class="form-control" required id="lastName" name="lastName"/>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="favouriteMovie">Favourite movie</label>
        <input type="text" ng-model="vm.person.favouriteMovie" class="form-control" required id="favouriteMovie" name="favouriteMovie"
               minlength="5" maxlength="50"/>
      </div>

      <div class="form-group">
        <label for="homePageUrl">Home page</label>
        <input type="url" ng-model="vm.person.homePageUrl" class="form-control" required id="homePageUrl" name="homePageUrl"
               minlength="5" maxlength="200"/>
      </div>

      <div class="form-group">
        <label for="emailAddress">Email</label>
        <input type="email" ng-model="vm.person.emailAddress" class="form-control" required id="emailAddress" name="emailAddress"
               minlength="5" maxlength="200"/>
      </div>

      <div class="form-group">
        <label for="birthDate">Birth date</label>
        <input type="date" ng-model="vm.person.birthDate" class="form-control" required id="birthDate" name="birthDate" min="1900-01-01" max="2015-01-01"/>
      </div>
    </div>
  </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular-messages.min.js"></script>
<script src="../dist/js/aliengoo.ng-insight.js"></script>
<script>
  angular.module('aliengoo.sample', ['aliengoo.ng-insight']).controller('App', App);

  function App() {
    var vm = this;

    vm.showInsight = 'show';

    vm.toggle = function () {
       if (vm.showInsight) {
         vm.showInsight = '';
       } else {
         vm.showInsight = 'show';
       }
    };

    vm.person = {
      firstName: '',
      lastName: ''
    };
  }
</script>
</body>
</html>