$dirtyColor : #73481c;
$dirtyTextColor : white;

$pristineColor : #249bd5;
$pristineTextColor : white;

$validColor : #408037;
$validTextColor : white;

$invalidColor : #d61720;
$invalidTextColor : white;

$viewValueColor : #c767d1;
$viewValueTextColor : white;

$modelValueColor : #6d896a;
$modelValueTextColor : white;

$scopeColor : #a2126f;
$scopeTextColor : white;

$debugFontFamily: inherit;

@mixin indicator($indicatorType, $backgroundColor, $textColor){

  .indicator {
    &.#{$indicatorType} {
      font-family: $debugFontFamily;
      font-weight: bold;
      display : inline-block;
      border: 1px solid $backgroundColor;
      margin-top: 1px;
      padding: 1px;
      background-color: $backgroundColor;
      color : $textColor;
    }
  }
}

.ng-model-insight {
  font-size : 10px;
  @include indicator('scope', $scopeColor, $scopeTextColor);
  @include indicator('dirty', $dirtyColor, $dirtyTextColor);
  @include indicator('pristine', $pristineColor, $pristineTextColor);
  @include indicator('valid', $validColor, $validTextColor);
  @include indicator('invalid', $invalidColor, $invalidTextColor);
  @include indicator('error', $invalidColor, $invalidTextColor);
  @include indicator('view-value', $viewValueColor, $viewValueTextColor);
  @include indicator('model-value', $modelValueColor, $modelValueTextColor);
}

.ng-auto-message-insight {
  font-size: 10px;
  font-weight: bold;
  display: inline-block;
  border: 1px solid;
  padding: 1px;
  color: white;
  background-color: #d61720;
}